body{
    background-color: black;
    margin: 50px 50px 50px 50px;
    color: white;
    font-family: monospace;
   
}
#nav-bar{
    background-color: yellow;
    position: fixed;  
    font-size: 35px;
    font-family:Gloria Hallelujah;
    top: 40px;
    right: 30px;
    height: 60px;
    width: 100%;
}
#comicteka{
    background-color: black;
    position: fixed;  
    font-size: 20px;
    font-family:Aclonica, sans-serif;
    top: 40px;
    right: 20px;
    height: 60px;
    width: 10%;
    text-align: center;

 
}
.nav-link{
    margin-left: 80px;

}
h1{
    font-size: 100px;
    font-family: Aclonica, sans-serif;
    text-align: center;
    margin-top: 150px;
    padding-top:100px;
    background-color: rgba(0, 0, 0, 0.701);
    height: 200px;
  
  
}
h2{
    font-family:Gloria Hallelujah;
    padding-left: 30px;
    text-align: left;
}
section{
    top: 50px;
    height: 400px; 
    width: 100%; 
    background-color: cadetblue;
    float:right;  
    border: 10px solid white; 
    margin: 60px 30px 70px 30px;
    font-size: 30px;
    text-align:right;
    padding-right: 25px;
    
}
form{
    height: 350px;
    width: 50%;
    background-color: rgba(191, 49, 167, 0.831); 
    border: 10px solid white; 
    margin: 30px 30px 30px 30px;
    font-size: 20px;
    text-align: center;
    padding: 20px;    
    color: black;
    float: right;
    text-align:center;
}

h3{
    font-family: Aclonica, sans-serif;
}
#img1{
    width:516px;
    height:315px;
    margin: 40px 20px 30px 40px; 

    
}
#img2{
   
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin: 70px 30px 70px 70px; 
     
}

.contenedorImg{
    float: left;
    

}

#video{
    float: left;
    margin: 40px 20px 30px 40px; 
}

#comicteka2{
    background-color: black; 
    font-size: 20px;
    font-family:Aclonica, sans-serif;
    color:white;
    text-align: center;
    padding: 1px;
    margin: 20px;
}
#contenedor-titulo{
    background-image: url(https://mcdn.wallpapersafari.com/medium/18/34/mrhi5M.jpg);
  }

  @media (max-height: 800px){ 
    p {
    font-size: 25px;
      }
  }